  <!-- Hero -->
  <section class="et-hero-tabs">
    <section id="mf9">
      <div class="row">
        <div class="col-lg-7 col-sm-12 mx-0 px-0 image">
        </div>
        <div class="col-lg-5 col-sm-12 banner-right">
          <div class="box">
            <h2 style="padding-bottom: 10px; font-size:3vw; color: white;"> <em><strong>Life Changing</strong></em> Nutritional Supplement </h2>
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
            <p style="margin-top: 4px; color: #FFFFFF">"I feel my skin is more radiant and firmer, I have more energy throughout the day and better sleep. Amazing product!"</p>
            <p style="margin-bottom: 0px; color: white;">Lu Wong, Australia</p>
            <%= image_tag("mf9-pe.png", alt: "mf9 products", class:"product") %>
          </div>
        </div>
    </section>
    <div class="et-hero-tabs-container">
      <a class="et-hero-tab" href="#mf9">
        <%= image_tag("mf9-logo.png", class:"logo", alt: "public") %>
      </a>
      <a class="et-hero-tab" href="#why-mf9">Why MF9</a>
      <a class="et-hero-tab" href="#the-beginning">The Beginning</a>
      <a class="et-hero-tab" href="#our-products">Our Products</a>
 <!--      <a class="et-hero-tab" href="#tab-other">Other</a> -->
      <span class="et-hero-tab-slider"></span>
    </div>
  </section>

  <!-- Main -->
  <main class="et-main">
    <section class="et-slide" id="why-mf9">
      <h1>Why MF9</h1>
      <h3>something about es6</h3>
    </section>
    <section class="et-slide" id="the-beginning">
      <h1>The Beginning</h1>
      <h3>something about flexbox</h3>
    </section>
    <section class="et-slide" id="our-products">
      <h1>Our Products</h1>
      <h3>something about react</h3>
    </section>
<!--     <section class="et-slide" id="tab-angular">
      <h1>Angular</h1>
      <h3>something about angular</h3>
    </section>
    <section class="et-slide" id="tab-other">
      <h1>Other</h1>
      <h3>something about other</h3>
    </section> -->
  </main>
