@media (min-width: 991px) {
  .image {
    background-image: url("banner-girl.jpg");
    background-size: cover;
    height: 100vh;
    width: 220vh;
    opacity: 0.8;
  }
  .box {
    width: 50%;
    text-align: left;
    // margin-top: 150px;
    // width: 50%;
    margin-left: 35px;
  }
  .banner-right {
    padding-top: 40px;
  }
  .image-2 {
    background-image: url("why-mf9.jpg");
    background-size: cover;
    height: 100vh;
    width: 220vh;
    opacity: 0.8;
  }

  .box-3 {
    width: 50%;
    margin-right: 80px;
  }
}

@media (max-width: 991px) {
  .image {
    background-image: url("banner-girl.jpg");
    background-size: cover;
    background-position: center;
    width: 110vw;
    height: 50vh;
    opacity: 0.8;
  }

  .image-2 {
    background-image: url("why-mf9.jpg");
    background-size: cover;
    background-position: center;
    // width: 110vw;
    height: 35vh;
    opacity: 0.8;
  }

  .banner-right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box {
    font-size: smaller;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    width: 100%;
    height: 48vh;
  }
  .product {
    width: 200px;
  }

  .logo {
    width: 64px;
  }

  .transparent {
    flex-direction: column;
  }

  .box-3 {
    flex-grow: 1;
  }

  .tri-factor {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.banner-right {
  background-color: #0c1f3f;
  overflow: hidden;
  display: flex;
  justify-content: left;
}

.image-3 {
  background-image: url("switzerland.jpg");
  background-size: cover;
  background-position: center;
  // width: 110vw;
  // opacity: 0.4;
}

// .box {
//   // margin-left: 40px;
//   margin-top: 70px;
//   // width: 50%;
//   text-align: center;
// }

.transparent {
  background-color: rgba(250, 250, 250, 0.7);
  height: 100%;
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-3 {
  background-color: white;
  text-align: left;
  // margin-left: 24px;
  // margin-right: 24px;
  padding: 24px;
  opacity: 0.9;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.tri-factor {
  height: 40vh;
}
