.content-slider {
  width: 100%;
  // height: 360px;
  height: 500px;
}

.slider {
  // height: 400px;
  height: 500px;
  // width: 680px;
  width: 100%;
  margin: 40px auto 0;
  // overflow: visible;
  overflow: auto;
  position: relative;
  padding-left: 24px;
  padding-right: 24px;
}

.mask {
  overflow: hidden;
  // height: 320px;
  height: 500px;
  width: 100%;
}

.slider ul {
  margin: 0;
  padding: 0;
  position: relative;
}

.slider li {
  // width: 680px;
  width: 100%;
  height: 320px;
  position: absolute;
  top: -325px;
  list-style: none;
  text-align: left;
  overflow: auto;
}

.slider .quote {
  font-size: 20px;
  font-style: italic;
  line-height: 40px;
  // overflow: hidden;
  width: 100%;
  overflow: auto;
}

// .slider .source {
//   font-size: 20px;
//   text-align: right;
// }

.slider li.anim1 {
  animation: cycle 30s linear infinite;
}

.slider li.anim2 {
  animation: cycle2 30s linear infinite;
}

.slider li.anim3 {
  animation: cycle3 30s linear infinite;
}

.slider li.anim4 {
  animation: cycle4 30s linear infinite;
}

.slider li.anim5 {
  animation: cycle5 30s linear infinite;
}

.slider:hover li {
  animation-play-state: paused;
}

@keyframes cycle {
  0% {
    top: 0px;
  }
  4% {
    top: 0px;
  }
  16% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  20% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  21% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  50% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  92% {
    top: -325px;
    opacity: 0;
    z-index: 0;
  }
  96% {
    top: -325px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes cycle2 {
  0% {
    top: -325px;
    opacity: 0;
  }
  16% {
    top: -325px;
    opacity: 0;
  }
  20% {
    top: 0px;
    opacity: 1;
  }
  24% {
    top: 0px;
    opacity: 1;
  }
  36% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  40% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  41% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle3 {
  0% {
    top: -325px;
    opacity: 0;
  }
  36% {
    top: -325px;
    opacity: 0;
  }
  40% {
    top: 0px;
    opacity: 1;
  }
  44% {
    top: 0px;
    opacity: 1;
  }
  56% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  60% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  61% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle4 {
  0% {
    top: -325px;
    opacity: 0;
  }
  56% {
    top: -325px;
    opacity: 0;
  }
  60% {
    top: 0px;
    opacity: 1;
  }
  64% {
    top: 0px;
    opacity: 1;
  }
  76% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  80% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  81% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle5 {
  0% {
    top: -325px;
    opacity: 0;
  }
  76% {
    top: -325px;
    opacity: 0;
  }
  80% {
    top: 0px;
    opacity: 1;
  }
  84% {
    top: 0px;
    opacity: 1;
  }
  96% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  100% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
}

.anim {
  height: 600px;
}

.list {
  background: white;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  counter-increment: gradient-counter;
  // margin-top: 1rem;
  // min-height: 1rem;
  // padding: 1rem 1rem 1rem 1rem;
  padding-left: 30px;
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05),
    0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
  // font-size: 16px;
  margin-bottom: 8px;
  // height: 40px;
}

.box-two {
  padding-top: 16px;
  height: 500px;
}

@media (max-width: 991px) {
  .list {
    line-height: 32px;
  }

  .quote {
    font-size: smaller;
  }

  .box-two {
    height: 60vh;
    // align-items: center;
  }

  h2 {
    font-size: 24px;
  }

  .content-slider {
    width: 100%;
    // height: 360px;
    height: 50vh;
  }

  .slider {
    height: 60vh;
    margin-top: 0px;
    display: flex;
    align-items: center;
  }
}

// @media (min-width: 991px) {
//   .box-two {
//     padding-top: 40px;
//   }
// }

// .container-list {
//   text-align: left;
//   // max-width: 450px;
//   margin: 0 auto;
// }

// .item {
//   width: 200px;
//   height: 200px;
//   margin: 10px;
//   // display: inline-block;
//   background: #00cc99;
// }

// new carousel below
